<ion-view title="About Us" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/mddsHA37SAuYBya2Frju_OTPAM.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="aboutUs-list6">
      <ion-item id="aboutUs-list-item10" href="tel:">01110201330</ion-item>
      <ion-item id="aboutUs-list-item11" href="mailto:">info@otpam.com</ion-item>
      <ion-item id="aboutUs-list-item12">www.otpam.com</ion-item>
    </ion-list>
    <p>
      Add some
      <b>HTML</b> for
      <u>flavor</u>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.639247774789!2d101.65429641441926!3d2.919671955335503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb6fe91584f2d%3A0x626fd1d1a8d3540!2sOTPAM+iT+HUB!5e0!3m2!1sen!2smy!4v1553915128229!5m2!1sen!2smy"
        width="100" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </p>
  </ion-content>
</ion-view>