<ion-view title="Page" hide-back-button="true" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="android()">
        <img src="img/9AA2Pq6QwODH0fiSRpGU_f.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <ion-list id="page-list2">
      <ion-item class="item-icon-right" id="page-list-item4">Operating system
        <i class="icon ion-alert"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page-list-item2">
        <img src="img/k6DrSHLfQbWfyfN8pNPS_android.jpg">
        <h2>Android</h2>
        <p style="white-space:normal;">Android is a mobile operating system developed by google</p>
      </ion-item>
    </ion-list>
    <ion-list id="page-list3">
      <ion-item class="item-thumbnail-left" id="page-list-item7">
        <img src="img/kebSeRseQcu3c3lf2Sus_ios.jpg">
        <h2>IOS</h2>
        <p style="white-space:normal;">IOS is the world most advance mobile operating system</p>
      </ion-item>
    </ion-list>
    <a ui-sref="page_slider()" id="page-button1" class="button button-positive button-block icon-left ion-alert">about us</a>
  </ion-content>
</ion-view>