<ion-view title="Page_slider" hide-nav-bar="true" id="page6">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page_slider-slider1" style="width:100%;height:600px;">
      <ion-slide-page id="page_slider-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#2132E9;">
        <div>
          <img src="img/rgCclwIaQFyhkQ76G0K6_hand_phone.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 25px;"></div>
        <ion-list id="page_slider-list7">
          <ion-item id="page_slider-list-item13">Handphone2</ion-item>
          <ion-item id="page_slider-list-item14">Handphone</ion-item>
        </ion-list>
      </ion-slide-page>
      <ion-slide-page id="page_slider-slide210" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#2132E9;">
        <div>
          <img src="img/rgCclwIaQFyhkQ76G0K6_hand_phone.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 25px;"></div>
        <ion-list id="page_slider-list9">
          <ion-item id="page_slider-list-item17">Handphone2</ion-item>
          <ion-item id="page_slider-list-item18">Handphone</ion-item>
        </ion-list>
        <div class="spacer" style="width: 320px; height: 16px;"></div>
        <a ui-sref="aboutUs()" id="page_slider-button9" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-block icon ion-android-add-circle">Tap me!</a>
      </ion-slide-page>
      <ion-slide-page id="page_slider-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page_slider-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider2" delegate-handle="slider2" id="page_slider-slider2" style="width:100%;height:600px;">
      <ion-slide-page id="page_slider-slide27" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#2132E9;">
        <div>
          <img src="img/rgCclwIaQFyhkQ76G0K6_hand_phone.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 25px;"></div>
        <ion-list id="page_slider-list8">
          <ion-item id="page_slider-list-item15">Handphone</ion-item>
          <ion-item id="page_slider-list-item16">Handphone</ion-item>
        </ion-list>
      </ion-slide-page>
      <ion-slide-page id="page_slider-slide28" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page_slider-slide29" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>